DATABASE_URL=postgresql://postgres.dpelosuefxtlheexgjue:uTgoWyTiMGdVLEyq@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres
PORT=3000
ACCESS_SECRET_KEY=t3uing@slin@
REFRESH_SECRET_KEY=r@h@s1@n3g@r@

CLOUDINARY_CLOUD_NAME=djyadok76
CLOUDINARY_API_KEY=861135117215685
CLOUDINARY_API_SECRET=wwk23lq3GBFn8HBLaQbTcckoYe0